.aboutus {
  background: #fff !important;
  padding: 60px 0px;
}

.aboutus .line {
  background: #d8a611;
  height: 4px;
  width: 100px;
  margin: 20px auto;
}
.aboutus #carouselExampleIndicators{
    visibility: hidden;
}
@media screen and (max-width: 480px) {
  .aboutus img {
    width: 60%;
  }
  .aboutus .image,
  .aboutus p,
  .aboutus h2 {
    text-align: center;
  }
  .aboutus li:nth-of-type(1){
      visibility: visible;
      height:45vh !important;
  }
  .aboutus li:nth-of-type(2){
    visibility: visible;
}
.aboutus li:nth-of-type(3){
    visibility: hidden;
}
  .aboutus #carouselExampleIndicators{
    visibility: visible;
}
}
/* slider */

.aboutus .wrapper {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.aboutus .list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: calc(30% - 4px);
  min-height: 350px;
  height: 70vh;
  flex-direction: column;
  border: 2px solid #fff;
}
.aboutus li {
  padding: 10px;
  height: 10rem;
  border-bottom: 2px solid #fff;
  transition: all 600ms ease;
  cursor: pointer;
}
.aboutus li:hover {
  background: #1b6abf;
}

.aboutus img {
  transition: all 600ms ease;
  opacity: 0;
  transform: translatey(10px);
  transform-origin: bottom;
}

.aboutus a {
  display: block;
  margin-top: 4px;
}
.aboutus span {
  font-size: 0.7rem;
  opacity: 0.7;
}
.aboutus img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.aboutus .active {
  z-index: 999;
  background: #1b6abf;
  color: #fff;
}
.aboutus a {
  color: #548af7;
}
.aboutus img {
  opacity: 1;
  transform: translatey(0);
}
