.download-dongfang{
    background:#1b6abf;
    padding:60px;
    color:#fff;
}

.download-dongfang img{
    width:100%;
}

.download-dongfang .line{
    background:#d8a611;
    height:4px;
    width:100px;
    margin-top:-10px;
}

/* .download-dongfang .download{
   padding:0;
   margin-right:.5px;

} */

/* .download-dongfang .download a{
    color:#fff;
    padding:20px;
    display: block;
    background-image: linear-gradient(to right,#1da1f2,#0b4180);
    text-align: center;
    border:1px solid #0b4180;
    margin-top:2px;

} */


.download-dongfang .download img{
    width:25px;
}

@media screen and (max-width: 480px) {
    .download-dongfang{
        padding:0;
    }
    .download-dongfang .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download-dongfang h2{
        text-align: center;
    }
    .download-dongfang p{
        text-align: center;
    }
    .download-dongfang img{
        width:70%;
    }
    .download-dongfang .row{
        display: flex;
        justify-content: center;
    }
    .download-dongfang .download{
        width:70%;
    }
}



@media screen and (max-width: 768px) {

    .download-dongfang{
        padding-bottom:60px;
    }
}

@media screen and (max-width: 992px) {
    .download-dongfang{
        padding-bottom:60px;
    }
}
/* Button */
.btn-hoverEffect3{
    display: inline-block;
    background: #0b4180;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    padding:15px;
    margin-top:10px;
  }
  .btn-hoverEffect3 a{
      color:#fff;
  }
  .btn-hoverEffect3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 101%;
      width: 103%;
      clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
      /* background: #d8a611; */
    background-image: linear-gradient(to right, #1da1f2, #d8a611);

      border-radius: 5px;
      transition: 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
      box-sizing: border-box;
      z-index: -1;
    }
    .btn-hoverEffect3:hover::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .btn-hoverEffect3:hover {
      color: #fff;
    }