.feature {
  padding-top: 70px;
  padding-bottom: 100px;
  color: #fff;
}

.feature section {
  min-height: 100vh;
}

.feature .line {
  background: #d8a611;
  height: 4px;
  width: 100px;
  margin: 0 auto;
}

.feature .image {
  text-align: center;
}

.feature h2 {
  text-align: center;
}

.feature h5 {
  color: #000;
}

.feature p {
  color: #000;
}

.feature .container {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature .card {
  background-color: #fff;
  padding: 3rem 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 500px;

}

.feature .productfeaturecard:hover {
  transform: translateY(-15px);
  transition: 1s;
  border-radius: 15px;
}
.feature .productfeaturecard{
  transition:translateY(15px);
  transition: 1s;

}

.feature .card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 101%;
  height: 105%;
  z-index: -1;
  background-image: linear-gradient(to right bottom, #4081f8, #7dd2f9);
  border-radius: 15px;
  transform: rotate(-5deg);
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.2);
}

.feature .card li {
  margin: 15px 0;
  text-align: center;
}

.feature .card li p {
  display: flex;
}

.feature .card li h3 {
  display: inline-block;
  font-size: 2rem;
  color: #333;
  vertical-align: top;
  margin-right: 5px;
  line-height: 1.2;
}

.feature .card li .fa {
  font-size: 0.75rem;
}

.feature .card li span {
  color: #9ea6a8;
  font-weight: bold;
  font-size: 0.95rem;
}

.feature .clr-up {
  color: green;
}

.feature .clr-down {
  color: red;
}

@media screen and (max-width: 480px) {
  .feature .card::before {
    top: -10px;
    left: -2px;
  }
  .feature .card li {
    width: 100%;
  }
  .feature .card li:not(:first-of-type) {
    margin-top: 15px;
  }
  .feature .card {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .feature .card::before {
    top: -10px;
    left: -2px;
  }
  .feature .card li {
    width: 100%;
  }
  .feature .card li:not(:first-of-type) {
    margin-top: 15px;
  }
  .feature .card {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 992px) {
  .feature .card {
    padding: 1rem 2rem;
  }
  .feature .card::before {
    width: 99%;
    height: 112%;
  }
}
@media screen and (max-width: 1024px) {
  .feature {
    padding-right:12px;
  }
  .feature .card {
    padding: 1rem 1.5rem;
  }
  .feature .card::before {
    width: 99%;
    height: 112%;
  }
}