.welcome {
  padding-top: 200px;
  padding-bottom: 160px;
 
}

.welcome .btn-group button{
  background-image: linear-gradient(to right, #1da1f2, #0b4180);
  color:#fff;
  padding:13px;
}

.welcome .dropdown-menu{
  background-image: linear-gradient(to right, #0b4180, #1da1f2);
  width: 247px;
  margin:0px !important;
  padding:0px !important;
  line-height: 2;
  border-radius: 0 !important;

}

.welcome .dropdown-menu img{
  width:24px;
}

.welcome .dropdown-menu .dropdown-item{
  text-align:center;
  color:#fff;
  padding:10px;
}

.welcome .dropdown-menu .dropdown-item:hover{
  background-image: linear-gradient(to right,#1da1f2,#0b4180);
  transition: 1s;
  background:#0b4180;
  color:#d8a611;
}

.welcome img:hover {
  transform: translateY(45deg);
}

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes display {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.welcome .pic-ctn {
  position: relative;
  width: 100%;
}

.welcome .pic-ctn > img {
  position: absolute;
  width: 100%;
  top: 0;
  left: calc(50% 100px);
  opacity: 0;
  animation: display 16s infinite;
}

.welcome img:nth-child(2) {
  animation-delay: 5s;
}

.welcome img:nth-child(3) {
  animation-delay: 10s;
}

.welcome img:nth-child(4) {
  animation-delay: 15s;
}

.welcome img:nth-child(5) {
  animation-delay: 20s;
}

@media (max-width: 320px) {
  .cny,
  .eng {
    font-size: 10px !important;
  }
  .eng {
    margin: 0 10px 0 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .welcome {
    padding-bottom: 50px;
  }
  
  .welcome .pic-ctn {
    display: none !important;
  }

  .welcome .dropdown {
    justify-content: center;
    margin-right: 0px !important;
    background-image: linear-gradient(to right, #1da1f2, #0b4180);
    padding: 10px;
    text-align: center;
    width: 300px;
    border-radius: 4px;
    display: block;

  }
 
  .welcome .download img{
    width:20px;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding-bottom: 40px;
  }
 
  .welcome .pic-ctn > img {
    width: 100%;
    top: 85px;

  }
}

@media screen  and (max-width:992px){
  .welcome {
    padding-top:120px;
    padding-bottom: 40px;
  }
 
  
}
